@model IEnumerable<DatabaseModel.Models.Product>

@{
    ViewData["Title"] = "Ürünler";
}

<h1>Ürünler</h1>

<p>
    <a asp-action="Create">Yeni Ürün Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Ad")
            </th>
            <th>
                @Html.DisplayName("Stok")
            </th>
            <th>
                @Html.DisplayName("Fiyat")
            </th>
            <th>
                @Html.DisplayName("Satış")
            </th>
            <th>
                @Html.DisplayName("Ütün Tipi")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Düzenle</a>
            </td>
        </tr>
}
    </tbody>
</table>
