@model DatabaseModel.Models.Perfume

@{
    ViewData["Title"] = "Parfüm Sil";
}

<h1>Parfüm Sil - @Model.Code</h1> @*TODO use product name, in viewbag*@
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Id")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Marka")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Tip")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Koku")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Cinsiyet")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Silaj")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sillage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Bilgi")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Hava")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weather)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Link")
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.Link" target="_blank" rel="noopener noreferrer">@Model.Link</a>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PerfumeId" />
        <input type="submit" value="Sil" class="btn btn-danger" />
    </form>
</div>
<hr />
<div>
    <a asp-action="Index">Geri</a>
</div>
