@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Satışlar";
}

<h1>Satışlar</h1>

<p>
    <a asp-action="Create">Satış Ekle</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tarih")
            </th>
            <th>
                @Html.DisplayName("Ürünler")
            </th>
            <th>
                @Html.DisplayName("Adet")
            </th>
            <th>
                @Html.DisplayName("Ücret")
            </th>
            <th>
                @Html.DisplayName("Ödeme")
            </th>
            <th>
                @Html.DisplayName("Not")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.OrderDate.ToShortDateString()
            </td>
            <td>
                @for(int i = 0; i < item.Products.Count();i++)
                {
                    @item.Products[i].Name
                    if(i != item.Products.Count() - 1)
                    {
                        <text>, </text>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Düzenle</a>
            </td>
        </tr>
}
    </tbody>
</table>
